@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

/* Font Families */
:root {
    --font-body: 'Plus Jakarta Sans', sans-serif;
    --font-header: 'Newsreader', serif;
}

/* General Body Font */
body {
    font-family: var(--font-body);
}

/* TEXT */
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 28px; }
project_section_header {font-family: "Newsreader", serif; font-size: 2.5rem;font-weight: 600;font-style:italic;}