/* GENERAL */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { scroll-behavior: smooth;}

html, body {
    overflow-x: hidden;
    margin: 0; 
    padding: 0; 
    background-color: #F6F6F6;  
}

/* TEXT */
h1 { font-size: 3rem; }
h2 { font-size: 2rem; }
h3 { font-size: 1.5rem; }
subheading {font-size: 1.5rem; color:#5A5A5A}
blue_text {font-weight: 500; color: blue}
red_text {font-weight: 500; color: red}

img_caption {
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}

/* PROJECT HEADER */

.header_img img{
  width: 100%;
}

#project_header {
    padding: 2rem 0 2rem 0;
    justify-content: left;
    align-items: left;
    text-align: left; 
    flex-direction: column;
}

/* #project_header {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    flex-direction: column;
    background-color: #F6F6F6;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
} */

#project_title {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#project_title img {
    max-width: 60%;
    border: 2px solid #5A5A5A;
    margin: 1rem 0 1rem 0;
    border-radius: 20px;
}

#project_info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  gap: 2.5rem;
  margin-bottom: 2rem;
  border-bottom: 0.5px solid black;
}

.header_section {
  flex: 1;
  text-align: left;
  word-wrap: break-word; 
  margin-bottom: 3rem;
}

.project_section {
  margin-bottom: 3rem;
  }
  
  .content {
    text-align: left;
    max-width: 70%;
    margin: 0 auto;  
  }

  #long_box {
    background-color: white;
    border: 1px solid black;
    padding: 1.5rem 4rem 1.5rem 4rem;
    border-radius: 15px;
    text-align: center;
  }

  #long_box p{
    font-style: italic;
  }

  #small_box_grid {
    display: flex;
    align-items: stretch; 
    justify-content: space-between;
    gap: 3rem;
    margin-top: 1rem;
  }

  .small_box {
    background-color: white;
    border: 1px solid black;
    padding: 1.5rem 4rem 1.5rem 4rem;
    border-radius: 15px;
    text-align: center;
    flex: 1;
  }

  .takeaway {
    margin-bottom: 2rem;
  }

  #stat {
    text-align: center;
  }

  .project_image {
    display: flex;
    justify-content: center;
    width: 100%; 
}

.project_image img {
    width: 100%; 
    height: auto; 
    margin: 1.5rem 0 1.5rem 0; 
    object-fit: cover; 
}

#skills_list {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    margin-left: 5%;
  }

  .website_img{
    margin-top: 0.75rem;
    margin-bottom: 1rem;
    text-align: center;  
    display: flex;
    flex-direction: column;
}

.picture_columns {
  display: flex;
  width: 100%;
  gap: 20px; 
  align-items: stretch; 
  margin-top: 20px;
}

.picture_columns img {
  width: 100%;
  height: auto;
  object-fit: contain; /* Shows the full image without cutting anything */
}
.picture_columns > div {
  flex: 1; /* Each container div takes up equal width */
}



@media (max-width: 1125px) {
  .picture_text_columns {
    flex-direction: column; 
    align-items: center; 
  }

  .column_text {
    width: 100%; 
    margin-bottom: 20px; 
  }

  .column_image {
    justify-content: center; 
  }

  .column_image img {
    max-width: 80%; 
  }
}

  @media only screen and (max-width: 601px) {

    /* OTHER */
    #project_info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

  }
