/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html { 
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    margin: 0; 
    padding: 0; 
}

/* TEXT */
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 28px; }
h4 { font-size: 20px;}
p {font-size: 16px; margin: 0;}



/* NAVBAR */
.navbar {
    background: white;
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1.5px solid black;
}

.navbar__container {
    margin-left: 7.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 80%;
    padding: 0;
}

.logo img {
    max-width: 5rem;
    display: block;
}

fa-gem {
    margin-right: 0.5 rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: grey;
    transition: all 0.3s ease;
}

/* CONTENT */

.content {
    max-width: 80%;
    margin: 0 auto; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem 0 1rem 0;

}
.section {
    padding: 1rem 0 1rem 0;
}

.section_grey {
    padding: 1rem 0 1rem 0;
    background-color: #F6F6F6;
}

#about_me {
    display: flex;
    flex-wrap: wrap; 
    align-items: stretch;
    gap: 4rem;
    width: 100%;
    padding-top: 1rem;
}

#about_me_photo {
    display: flex;
}

#about_me_photo img {
    height: 24rem;
    max-width: 100%; 
    object-fit: cover; 
    display: block;
}

#about_me_info {
    flex: 2; 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 250px;
}

#about_me_info h1 {
    padding: 1rem 0;
}

/* TOOLS SLIDING BAR*/

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%)
    }
}
.tools {
    display: flex;
    position: relative;
    overflow: hidden;
    padding: 1rem 0;
    background: white;
    white-space: nowrap;
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
}

.tools_header {
    text-align: center; 
    margin-bottom: 1rem; 
    font-size: 1.2rem;
    font-weight: 500;
}

.tools:before, 
.tools:after {
    position: absolute;
    top: 0;
    width: 100px;
    height: 100%;
    content: "";
    z-index: 2;

}

.tools:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.tools:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

/* .tools:hover .sliding_tools {
    animation-play-state: paused;
} */


.sliding_tools {
    display: inline-block;
    animation: 30s slide infinite linear;
}
.sliding_tools img {
    height: 50px;
    margin: 0 2rem;
}

/* EDUCATION EXPERIENCES COMMUNITY */

#eec_text {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.column {
    display: flex;
    flex-direction: column;
    height: 100%; 
}

.column > div:first-child {
    margin-bottom: auto;
}

#experience {
    text-align: center;
}

#community {
    text-align: right;
}

.column_photo {
    width: 100%;
    height: 300px; 
    overflow: hidden;
    display: flex;
    justify-content: flex-end; 
    margin-top: 1.5rem;
}

.column_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

/* ACTIVITIES */
.activity {
    padding: 1rem 0 1rem 0;
}

.activity_photos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 1rem;
    gap: 0.5rem;
}

.activity_photos img {
    flex: 1; 
    max-width: 100%;
    height: auto;
    max-height: 250px; 
    object-fit: cover;
}

.photo-wrapper {
    position: relative;
    display: flex;
    max-width: 100%;
    max-height: 250px; /* Adjust this value for your layout */
    overflow: hidden;
    flex: 1; /* Distributes images evenly */
}

.photo-wrapper img {
    width: 100%;
    height: 100%;
    max-height: 250px; /* Keep all images the same height */
    object-fit: cover; /* Ensures the image maintains aspect ratio while filling space */
    transition: filter 0.3s ease-in-out;
}

.photo-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.photo-wrapper::before {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    padding: 8px 12px;
    font-size: 14px;
    max-width: 80%;
    text-align: center;
    white-space: normal;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
}

.photo-wrapper:hover::after {
    opacity: 1;
}

.photo-wrapper:hover::before {
    opacity: 1;
    visibility: visible;
}

/* GET IN TOUCH */
.get_in_touch {
    padding: 3rem;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

#logo {
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

#logo a {
    position: relative;
    display: inline-block;
}

#logo a img {
    max-width: 40px;
    max-height: auto;
    transition: opacity 0.3s ease-in-out;
}

#logo a .logo-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#logo a:hover .logo-default {
    opacity: 0;
}

#logo a:hover .logo-hover {
    opacity: 1;
}

/* FOOTER */

.footer {
    width: 100%;
    display: flex;
    align-items: left;
    padding: 1.75rem 0;
    border-top: 1.5px solid black;
}

  #footer-text {
    width: 85%;
    margin-left: 7.5%; 
    text-align: left; 
  }

@media only screen and (max-width: 950px) {
    #about_me {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px; 
        width: 100%;
        }
}

/* TABLET AND SMALLER */
@media only screen and (max-width: 601px) {
    #homepage_projects .project_row {
        display: grid;
        grid-template-columns: 1fr;
        margin: 0 auto; 
        align-items: stretch;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        height: 80px;
        z-index: 1;
        max-width: 1300px;
        padding: 0px;
        margin: 0 auto;
        border-bottom: black;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle.bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: white;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate (5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        background-color: black;
        cursor: pointer;
        width: 30px;  
        height: 3px;  
        margin: 5px auto; 
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    #eec_text {
        display: flex;
        flex-direction: column; 
        gap: 20px; 
        width: 100%;
    }

    .activity_photos {
        flex-direction: column;
        align-items: center;
    }

    .activity_photos img {
        width: 100%; 
        height: auto; 
    }
    
    .photo-wrapper {
        width: 100%; /* Ensure each image takes up the full width of its container */
        max-width: 100%; /* Prevent overflow */
        height: auto; /* Maintain aspect ratio */
    }

    .photo-wrapper img {
        width: 100%; /* Make the image fill its container */
        height: auto; /* Keep aspect ratio intact */
        object-fit: cover; /* Ensure images cover the space without distortion */
        max-height: 400px; /* Optional: Prevent overly tall images */
    }

}

/* BIGGER THAN A LAPTOP */

@media only screen and (min-width: 1600px) {
    /* .content {
        max-width: 75%;
        margin: 0 auto; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1rem 0 1rem 0;
    
    } */

    .activity_photos {
        display: flex;
        justify-content: space-between;
        gap: 0.5rem;
        flex-wrap: wrap;
        width: 100%;
    }
    .activity_photos img {
        flex: 1; 
        max-width: 100%;
        height: auto;
        max-height: 450px; 
        object-fit: cover;
    }

    .tools_section {
        width: 100%;
    }
}
    
