/* GENERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

html { 
    scroll-behavior: smooth;
}

html, body {
    overflow-x: hidden;
    margin: 0; 
    padding: 0; 
}
/* TEXT */
h1 { font-size: 36px; }
h2 { font-size: 30px; }
h3 { font-size: 28px; }
project_type {font-size: 18px; font-weight: 600; color: #0A4A03;}
project_date {font-size: 16px; font-weight: 400; font-style:italic}


/* NAVBAR */
.navbar {
    background: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
    border-bottom: 1.5px solid black;
    padding: 2rem;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px;
}

.logo img {
    padding: 5px; 
    display: block;
}

fa-gem {
    margin-right: 0.5 rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__links:hover {
    color: grey;
    transition: all 0.3 ease;
}

/* HERO */

#hero {
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    width: 100%;
}

#hero_content {
    text-align: left; 
    max-width: 75%; 
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 1rem;
}

hero_header {
    width: 100%; 
    margin-top: 2.5rem;
    text-align: left;
    font-size: 4.61rem;
    font-weight: 600;
}

hero_p {
    width: 100%; 
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    color:#5A5A5A;
}

#hero img{
    align-self: center;
    margin: 1rem 0 1.5rem 0;
    width: 15%;
}

.clock {
    display: flex;
    font-size: 1rem;
    font-family: Arial, sans-serif;
}
p {
    margin-right: 10px;
}

.landing {
    display: flex;
    flex-direction: column;
    padding: 0px;
    align-items: center;  
    justify-content: center; 
}

/* PROJECTS SECTION */
#homepage_projects {
    padding: 2rem 0rem 2rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    max-width: 70%;
    margin: 0 auto; 
}

#homepage_projects #homepage_projects_header {
    text-align: left;
    width: 100%;
}

#homepage_projects .project_row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem; 
    margin-bottom: 1.5rem;
    justify-items: center; 
    align-items: stretch;
    
}

.homepage_projects {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left; 
  }

.project_grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 55px;
    max-width: 1001px;
}

.project {
    border-radius: 8px;
    text-align: left;
    width: 100%;
}

.project img {
    max-width: 100%;
    border-radius: 20px;
    margin: 2rem 0 1rem 0;
}

.project img:hover {
    filter: brightness(0.8);
}

#PRESERVR:hover {
    content: url('./images/home_images/preservr_comingsoon.png');
}

#SENAI:hover {
    content: url('./images/home_images/senai_comingsoon.png');
}

/* GET IN TOUCH */
.get_in_touch {
    padding: 3rem;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
}

#logo {
    margin: 15px 0 15px 0;
    display: flex;
    align-items: center;
    gap: 20px;
}

#logo a {
    position: relative;
    display: inline-block;
}

#logo a img {
    max-width: 40px;
    max-height: auto;
    transition: opacity 0.3s ease-in-out;
}

#logo a .logo-hover {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

#logo a:hover .logo-default {
    opacity: 0;
}

#logo a:hover .logo-hover {
    opacity: 1;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1.5rem 3rem 1.5rem 3rem; 
    border-top: 1.5px solid black;

}

.footer-text {
    font-size: 1rem;
}

/* TABLET AND SMALLER */
@media only screen and (max-width: 601px) {
    /* NAVBAR */
    .navbar__container {
        display: flex;
        justify-content: space-between;
        align-items: center; 
        height: 80px;
        z-index: 1;
        max-width: 1300px;
        padding: 0px;
        margin: 0 auto;
        border-bottom: black;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5 ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active {
        background: white;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle.bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3 ease-in-out;
        background: white;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate (5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        background-color: black;
        cursor: pointer;
        width: 30px;  
        height: 3px;  
        margin: 5px auto; 
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .homepage_projects h1 {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    #hero img {
        width: 40%;
    }

    .about_introduction {
        padding: 0rem 5rem 0rem 5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .education_experiences_community {
        padding: 0rem 5rem 0rem 5rem;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .column #education, #experience, #community{
        text-align: left;
    }
}


@media only screen and (min-width: 993px) { 
    .hero {
        padding: 5rem 8rem 5rem 8rem;
    }
    
    .project_grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .homepage_projects {
        padding: 3rem 8rem 3rem 8rem;
    }
    .homepage_projects h1 {
        padding-bottom: 2rem;
    }

    .column #education {
        text-align: left;
    }
    
    .column #experience {
        text-align: center;
    }
    
    .column #community {
        text-align: right;
    }
}